matplotlib
pytest
tqdm
torch==1.10.0
torchvision
torchaudio
transformers
datasets==1.12.1
hydra-core
hydra-submitit-launcher
rich[jupyter]
wandb
spacy[transformers,cuda113,lookups]>=3.2.0,<4.0.0
seqeval
